:root{
      --bg:#0b0b0d;
      --card:#0f0f11;
      --muted:rgba(255,255,255,0.75);
      --glass: rgba(255,255,255,0.02);
      --accent: #b825ff;
      --accent-2: #ff3bca;
      --radius:18px;
    }
    *{box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    html, body{
        height: 100%;
        overflow-x: hidden;
    }
    body{
        font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,"Helvetica Neue", Arial;
        background: linear-gradient(180deg, #070708 0%, var(--bg) 100%);
        color:  white;
    }
    a{
        color: inherit;
        text-decoration: none;
    }
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 28px 23px;
    }
    .header{
        position: sticky;
        top: 0;
        z-index: 40;
        backdrop-filter: blur(6px);
        background: linear-gradient(100deg, rgba(11,11,13,0.6), rgba(11,11,13,0.25));
        border-bottom: 1px solid rgba(128, 128, 128, 0.281);
    }
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }
    .brand{
        font-weight: 800;
        letter-spacing: 1px;
        font-size: 20px;
    }
    .nav a{
        padding: 16px;
        opacity: 0.85;
        font-weight: 500;
        border-radius: 999px;
        transition: all .26s ease;
    }
    .nav a:hover{
        transform:scale(1.1);
        box-shadow:0 4px 60px rgba(68, 66, 70, 0.452)
    }
    .cta{
        background: linear-gradient(90deg,var(--accent),var(--accent-2));
        padding: 10px 18px;
        border-radius: 999px;
        color: #051018;
        font-weight: 100000;
        box-shadow: 0px 0px 20px rgba(203, 94, 253, 0.61);
        font-size: 16px; 
        transition:all .28s ease;
    }
    .cta:hover{
        transform:scale(1.1);
        box-shadow:0 4px 60px rgba(182, 37, 255, 0.452)
    }

    .hero{
        display: flex;
        gap: 48px;
        align-items: center;
        padding: 64px 0 36px;
    }
    .hero-left{
        max-width: 620px;
    }
    .kicker{
        display: inline-block;
        padding: 6px 10px;
        border-radius: 999px;
        background: rgba(255, 255, 255, 0.03);
        font-weight: 700;
        margin-bottom: 16px;
    }
    .hero h1{
        font-size: 48px;
        line-height: 1.02;
        margin-bottom: 16px;
    }
    .hero p{
        color: var(--muted);
        margin-bottom: 26px;
    }
    .hero .btn{
        display: inline-block;
        padding: 12px 22px;
        border-radius: 999px;
        background: #fff;
        color: #040405;
        font-weight: 700;
        box-shadow: 0 5px 30px rgba(250, 250, 250, 0.281);
        transition:all .28s ease;
    }
    .hero .btn:hover{
         transform:scale(1.1);box-shadow:0 4px 60px rgba(182, 37, 255, 0.452)
    }
    .btn-ghost{
        background: transparent;
        border: 1px solid #ffffff2c;
        color: #fff;
        border-radius: 999px;
        padding: 6px 16px;
        transition:all .28s ease-in;
    }
    .btn-ghost:hover{
         transform:scale(1.1);box-shadow:0 4px 60px rgba(229, 220, 233, 0.452)
    }

    .hero-right{
        width: 420px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mockup{
        width: 420px;
        height: 420px;
        border-radius: 28px;
        overflow: hidden;
        background: linear-gradient(145deg,#0e0e10,#040405);
        box-shadow: 0 35px 80px rgba(51, 51, 51, 0.486), 0 6px 18px rgba(10, 10, 10, 0.459);
        border: 1px solid gray;
        display: block;
        object-fit: cover;
        transform: translateY(0);
        animation: float 6s ease-in-out infinite;
    }

    @keyframes float {
        0%, 100% {transform: translateY(0);}
        50%{transform: translateY(-30px);}
    }

    .why{padding:48px 0 18px}
    .why h2{font-size:32px;margin-bottom:22px;text-align:center}
    .grid{
      display:grid;grid-template-columns:repeat(4,1fr);gap:20px;
      margin-top:12px;
    }
    .card{
      background:linear-gradient(180deg, rgba(255,255,255,0.02), rgba(255,255,255,0.01));
      border-radius:16px;
      padding:20px;
      border:1px solid rgba(255,255,255,0.03);
      min-height:120px;
      display:flex;
      flex-direction:column;
      gap:10px;
      justify-content:flex-start;
      transition:all .28s ease;
    }
    .card:hover{transform:translateY(-12px);box-shadow:0 20px 60px rgba(184,37,255,0.06)}
    .icon{font-size:20px;
        display:inline-block;
        padding:8px;
        border-radius:10px;
        background:rgba(255,255,255,0.02);
        width:44px;
        height:44px;
        text-align:center;
        line-height:28px;
    }

    .products-row{
        display: grid;
        grid-template-columns: 1fr 320px;
        gap: 28px;
        padding: 40px 0;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
    }

.product-card{
    background: var(--card);
    padding: 22px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.03);
    min-height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.founder{
    background: linear-gradient(180deg, rgba(255,255,255,0.02) rgba(255,255,255,0.01));
    border-radius: 14px;
    padding: 18px;
    border: 1px solid rgba(255, 255, 255, 0.03);
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;
}
.founder .photo{
    width: 160px;
    height: 160px;
    border-radius: 12px;
    object-fit: cover;
    border: 1px solid rgba(255,255,255,0.04);
    box-shadow: 0 5px 30px rgba(77, 73, 73, 0.39);
}
.founder h3{
    font-size:20px;
    margin-top:4px;
}
.founder p{
    color:var(--muted);
    font-size:14px;
}

.services{
    padding: 20px 0 42px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.service{
    background: var(--card);
    padding: 22px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.03);
}


.footer{
    padding: 36px 0;
    border-top: 1px solid rgba(255,255,255,0.02);
    opacity: 0.8;
}

.footer-grid{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.explore-btn a{
    padding: 22px 105px;
    border-radius: 50px;
    border: 1px solid rgba(104, 100, 100, 0.568);
    background: white;
    color: black;
    font-weight: 900;
    box-shadow: 0 5px 30px rgba(226, 186, 5, 0.767);
    transition: all .28s ease;
}
.explore-btn a:hover{
    transform: scale(1.2);
    opacity: 0.7;
    color: black;
    box-shadow: 0 5px 30px rgba(248, 247, 247, 0.432);
}
.ex-btn{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    text-align: center;
    gap: 59px;
    row-gap: 100px;
    margin-bottom: 150px;
    background: var(--card);
    padding: 100px;
    border-radius: 60px;
}
.explore-btn{
     transform: translatex(0);
        animation: floatbtn 6s ease-in-out infinite;
}
.web-ss{
    margin: 100px auto;
    width: 80%;
    overflow-x: auto;
    display: flex;
    box-shadow: 0 5px 80px rgba(70, 69, 69, 0.432);
}
.ss-animation{
    display: flex;
    animation: spin 30s infinite linear;
}
.web-ss::-webkit-scrollbar{
    display: none;
}
.ss img{
    height: 500px;
    padding: 20px;
}
.image-frame{
    background: var(--card);
    padding: 30px;
    border-radius: 60px;
    margin-bottom: 50px;
}
@keyframes spin{
    from{translate: 0;}
    to{translate: -100%;}
}
@keyframes floatbtn{
    0%, 100% {transform: translatex(0);}
        50%{transform: translatex(-30px);}
}
@media (max-width:800px){
    .ex-btn{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:700px){
    .ex-btn{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (min-width:700px){
    .ex-btn{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:1200px){
    .ex-btn{
        grid-template-columns: repeat(4,1fr);
    }
}


@media (max-width:1100px){
      .grid{grid-template-columns:repeat(2,1fr)}
      .products{grid-template-columns:repeat(2,1fr)}
    }
    
@media (max-width:860px){
    .hero{
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 26px;
    }
    .hero-right{
        width: 320px;
    }
    .mockup{
        width: 320px;
        height: 320px;
    }
    .products-row{
        grid-template-columns: 1fr;
        align-items: start;
    }
    .founder{
        align-items: center;
        text-align: center;
    }
    .founder .photo{
        width: 140px;
        height: 140px;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    nav a{
        display: none;
    }
}

@media (max-width:480px){
    .hero h1{
        font-size: 30px;
    }
    .mockup{
        width: 260px;
        height: 260px;
    }
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
        clip-path: inset(100% 100% 0 0);
    }

    to{
        opacity: 1;
        scale: 1;
        clip-path: inset(0 0 0 0);
    }
}
.hero{
    animation: appear 2s ease-in-out;
}
.why{
    animation: appear 2s ease-in-out;
}
.header{
    animation: appear 2s ease-in-out;
}
.why{
    animation: appear 2s ease-in;
    animation-timeline: view();
    animation-range: entry 0;
}

@keyframes fadein{
    from{
        opacity: 0;
        scale: 0.5;
        transform: translatex(-100px);
    }

    to{
        opacity: 1;
        scale: 1;
        transform: translatex(0px);
    }
}

.products-row{
    animation: fadein 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.footer{
     animation: fadein 2s linear;
    animation-timeline: view();
    animation-range: entry 0;

}

@keyframes slideInFromRight{
    from{
        opacity: 0;
        transform: translatex(100%);
    }
    to{
        opacity: 1;
        trabsform: translatex(0)
    }
}
.services{
    animation: slideInFromRight 2s ease-in;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow-x: hidden;
}




